.navbar li {
	height: 30px;
	display: inline-block;
	margin-left: 53px;
	margin-right: 53px;
}

.navbar a {
	text-decoration: none;
	color: #fb6f92;
	font-family: consolas, monospace;
	font-weight: bold;
}
